<launch>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="imu2imurot" args="0 0 0 3.14159 0 0 body_aligned_imu_link body_aligned_imu_nk_rotated"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="ouster2body" args="0 0 0 3.14159 0 0 os1_sensor os1_lidar"/> -->

  <arg name="start_time" default="0" />
  <arg name="rate" default="1.0" /> <!-- normal_pcl can only run at 0.08 or slower -->

  <!-- <arg name="bags" default=
    "/home/erush91/data/Edgar/01_T02_normal_run/sensors_2020-08-04-13-43-44_0.bag
     /home/erush91/data/Edgar/01_T02_normal_run/outputs_2020-08-04-13-43-44_0.bag
     /home/erush91/data/Edgar/01_T02_normal_run/cameras_2020-08-04-13-43-44_0.bag">
  </arg> -->

  <!-- <arg name="bags" default=
    "/home/erush91/data/Edgar/02_T02_no_fog/sensors_2020-08-04-11-58-50_0.bag.active
     /home/erush91/data/Edgar/02_T02_no_fog/outputs_2020-08-04-11-58-50_0.bag.active
     /home/erush91/data/Edgar/02_T02_no_fog/cameras_2020-08-04-11-58-50_0.bag.active">
  </arg> -->

  <arg name="bags" default=
    "/home/erush91/data/Edgar/03_T02_fog/sensors_2020-08-04-12-18-52_0.bag
     /home/erush91/data/Edgar/03_T02_fog/outputs_2020-08-04-12-18-52_0.bag
     /home/erush91/data/Edgar/03_T02_fog/cameras_2020-08-04-12-18-52_0.bag">
  </arg>


  <arg name="viz" default=
    "/home/erush91/catkin_ws/src/fog_detection/rviz/T02_Edgar.rviz">
  </arg>
  
  <rosparam>
    use_sim_time: True
    <!-- use_system_time: True -->
  </rosparam>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg viz)" />
  <node pkg="rosbag" type="play" name="player" args="--clock --pause -s $(arg start_time) -r $(arg rate)
            $(arg bags)" output="screen" />

  <include file="$(find fog_detection)/launch/fog_detection.launch" />

</launch>